<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
<div layout:fragment="contents">
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Details</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${issue.getTitle()}"></td>
            <td th:text="${issue.getDetails()}"></td>
            <td><a th:href="@{/issue/{id}/edit(id=${issue.getIssueId()})}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>