<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Sign Up - Issue Tracker</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="/css/registration.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="post" action="/register">
    <h3>Register here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="User" id="username" name="username" required autofocus>

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="password" required>

    <button>Register</button>
    <div>
        <a class="alt-form" href="/login">Log in here</a>
    </div>
</form>
</body>
</html>
